*{
    margin: 0;
    padding: 0;
}
bodu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.container{
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.input{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.input input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}
.input button{
    padding: 10px;
    background-color: blue;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font: 20px;
}
.weather-box{
    height: 500px;
    border: 2px solid black;
    margin-top: 50px;
    height:20px ;
    border-radius: 5px;
}
.icon{
    margin-bottom:  20px;
    font-size: 50px;
}
.weather{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.description{
    font-size: 20px;
}